doctype
html(ng-app='app' ng-controller='main')

  head
    | <!--[if lt IE 7]>
    | <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
    | <!--[if IE 7]>
    | <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
    | <!--[if IE 8]>
    | <html class="no-js lt-ie9" lang="en"> <![endif]-->
    | <!--[if gt IE 8]><!-->
    | <html class="no-js" lang="en"> <!--<![endif]-->
    block vars
        - var activeNav="начало"
        - path="./"
        - showCalculatorLink = true
    meta(charset="utf-8")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width")
    meta(name='yandex-verification' content='7e9d1153e1672c4f')
    meta(name="google-site-verification" content="pdD_PefGMP34JugXIg1VBTVKjPIYk6xdTdXL_GtY4K8")
    title Русский катализатор
    meta(name="description" content="Инновационные разработки в сфере катализаторов")
    base(href="test.com" target="_self")
    //base(href="http://pepelazz.github.io/RusCatSite/" target="_self")
    block styles
        link(href="#{path}libs/style.css" rel="stylesheet")
        link(href="#{path}libs/animate.css" rel="stylesheet")
        link(href="#{path}index.css" rel="stylesheet")
        link(href="#{path}libs/normalize/normalize.css" rel="stylesheet")
        link(href="#{path}libs/font-awesome/css/font-awesome.min.css" rel="stylesheet" media="screen")
        link(href="#{path}libs/woothemes-FlexSlider-06b12f8/flexslider.css" rel="stylesheet" type="text/css" media="screen")
        link(href="#{path}libs/prettyPhoto_3.1.5/prettyPhoto.css" rel="stylesheet" type="text/css" media="screen")
        link(href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,600italic,700,700italic,300italic" rel="stylesheet" type="text/css")
        script(src="//api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU")
  body
    header
        .container
            .navbar
                .navbar-inner
                    a(href="#{path}").brand
                        img(src="#{path}images/logo.png" width="90" height="90" alt="Русский катализатор")
                        span.logo_title
                            strong Русский<br>катализатор
                        span.logo_subtitle инновационные технологии
                        span#logo_subtitle_phone +7 (495) 729 2902
                        span.logo_subtitle(style='margin-left: 100px') rc@noateq.ru
                    a(data-toggle="collapse" data-target=".nav-collapse").btn.btn-navbar
                        span.nb_left.pull-left
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        span.nb_right.pull-right menu
                    .nav-collapse.collapse
                        include ./_includes/_nav.jade

    include ./_includes/_calculator.jade
    block content
        section#slider_wrapper
            //#main_flexslider.flexslider
                ul.slides
                    li.item(style='background-image: url(#{path}images/slide01.jpg);')
                        .container
                            .carousel-caption
                                h1
                                    strong Исследовательские работы
                                    br
                                    | в области <strong>химии</strong>
                                p.lead
                                    strong Научные центры
                                    | в Москве и Нижнем Новгороде
                    li.item(style='background-image: url(#{path}images/slide02.jpg);')
                        .container
                            .carousel-caption
                                h1
                                    strong Комплексные решения для малотоннажной химии
                                p.lead Пилотные установки, лабораторные реактора, проектирование, монтаж
                    li.item(style='background-image: url(#{path}images/slide03.jpg);')
                        .container
                            .carousel-caption
                                h1.inverse
                                    strong Готовые решения для процессов гидрирования
                                p.lead Заказной синтез. Аренда оборудования. Катализаторы для лаборатории
            #main
                .container
                    section.ruscat-icons(style='overflow: hidden')
                        .row
                            .span3
                                a(href='#{path}outsourcing.html')
                                 img(src='#{path}images/ruscat-lab.svg', alt='Русский катализатор лабаратория')
                                div
                                    h4 Аутсорсинг
                            .span3
                                a(href='#{path}production-filters.html')
                                    img(src='#{path}images/ruscat-filter.svg', alt='Русский катализатор фильтры')
                                div
                                    h4 Фильтры
                            .span3
                                a(href='#{path}production-catalyst.html')
                                    img(src='#{path}images/ruscat-catalyst.svg', alt='Русский катализатор катализаторы')
                                div
                                    h4 Катализаторы
                            .span3
                                a(href='#{path}production-equipment.html')
                                    img(src='#{path}images/ruscat-tube.svg', alt='Русский катализатор оборудование')
                                div
                                    h4 Оборудование
                        .row(style='margin-top: 50px')
                            a(href='http://wastenoa.ru/' target='_blank')
                                img(src='#{path}images/wastenoa.jpg')
                        .row(style='margin-top: 50px')
                            .span6
                                .video-container
                                    iframe(width='1280', height='720', src='https://www.youtube.com/embed/_8inNJyMTAw?showinfo=0', frameborder='0', allowfullscreen='allowfullscreen')
                            .span6
                                .video-container
                                    iframe(width='1280', height='720', src='https://www.youtube.com/embed/VSZQUFnRIwM?showinfo=0', frameborder='0', allowfullscreen='allowfullscreen')



        footer
        section#footer_teasers_wrapper
            .container
                .row
                    .span4.footer_teaser
                        p
                            i.icon-phone
                            | +7 (495) 729 2902
                        p
                            i.icon-envelope
                            a(href='mailto: rc@noateq.ru') rc@noateq.ru


  | <script>
  |    (function (i, s, o, g, r, a, m) {
  |        i['GoogleAnalyticsObject'] = r;
  |        i[r] = i[r] || function () {
  |            (i[r].q = i[r].q || []).push(arguments)
  |        }, i[r].l = 1 * new Date();
  |        a = s.createElement(o),
  |                m = s.getElementsByTagName(o)[0];
  |        a.async = 1;
  |        a.src = g;
  |        m.parentNode.insertBefore(a, m)
  |    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  |    ga('create', 'UA-46215386-1', 'rus-cat.com');
  |    ga('send', 'pageview');
  |    (function (d, w, c) {
  |        (w[c] = w[c] || []).push(function () {
  |            try {
  |                w.yaCounter27091157 = new Ya.Metrika({id: 27091157, webvisor:true, clickmap: true, trackLinks: true, accurateTrackBounce: true});
  |            } catch (e) {
  |            }
  |        });
  |        var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () {
  |            n.parentNode.insertBefore(s, n);
  |        };
  |        s.type = "text/javascript";
  |        s.async = true;
  |        s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";
  |        if (w.opera == "[object Opera]") {
  |            d.addEventListener("DOMContentLoaded", f, false);
  |        } else {
  |            f();
  |        }
  |    })(document, window, "yandex_metrika_callbacks");
  |</script>
  |<noscript>
  |    <div><img src="//mc.yandex.ru/watch/27091157" style="position:absolute; left:-9999px;" alt=""/></div>
  |</noscript>

  script(src="#{path}libs/modernizr.custom.48287.js")
  script(src="#{path}libs/jquery.min.js")
  script(src="#{path}libs/angular.js")
  script(src="#{path}libs/twitter-bootstrap/js/bootstrap.min.js" type="text/javascript")
  script(src="#{path}libs/woothemes-FlexSlider-06b12f8/jquery.flexslider-min.js" type="text/javascript")
  script(src="#{path}libs/prettyPhoto_3.1.5/jquery.prettyPhoto.js" type="text/javascript" charset="utf-8")
  script(src="#{path}libs/jquery.ui.totop.js" type="text/javascript")
  script(src="#{path}libs/restart_theme.js" type="text/javascript")
  script(src="#{path}libs/purl.js" type="text/javascript")
  script(src="#{path}app.js")



